.categorieswrap {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
  margin: 1.5rem 1.5rem;
}

@media screen and (max-width: 600px) {
  .categorieswrap {
    gap: 0.5rem;
  }

  .categorieswrap .catbtn {
    padding: 0.5rem;
  }
}
