.projectslist {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

@media screen and (max-width: 1024px) {
  .projectslist {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .projectslist {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
