.project {
  padding: 1.5rem 1rem;
  border-radius: var(--border-radius-3);
  transition: var(--transition);
  display: flex;
  align-items: center;
  gap: 0.4rem;
  background: transparent;
  border: 1px solid var(--project-border);
}

.project.selected {
  border: 2px solid var(--project-border-selected);
}

.info {
  display: flex;
  align-items: left;
  flex-direction: column;
  gap: 0.3rem;
  width: 100%;
  
}

.info h6 {
  text-decoration: underline;
}

.info .text span {
  font-weight: bold;
}

.info .text p {
  font-size: small !important;
}

.projectcta {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}

.projectcta a:hover {
  background: var(--color-light);
}


@media screen and (max-width: 1024px) {
    .project {
      padding: 0.8rem 0.5rem;
      border-radius: var(--border-radius-1);
      gap: 0.2rem;
    }
  
    h4 {
      font-size: 0.8rem !important;
      text-align: center;
    }
    
    .project  h6{
      display: none;
  
    }
  
    .projectt .text {
      display: none;
      
    }
  
    .projectcta {
      gap: 1rem;
    }
}

@media screen and (max-width: 600px) {
  .project {
    padding: 0.8rem 0.5rem;
    border-radius: var(--border-radius-1);
    gap: 0.2rem;
  }

  h4 {
    font-size: 0.8rem !important;
    text-align: center;
  }
    
  .project  h6{
    display: none;

  }

  .project .text {
    display: none;
    
  }

  .projectcta {
    gap: 1rem;
  }
}

