.card {
  background: var(--color-primary);
  color: var(--color-white);
  padding: 1.5rem;
  border: 2px solid var(--color-light);
  border-radius: var(--border-radius-1);
  transition: var(--transition);
  text-align: center;
  display: flex;
  flex-flow: column;
}

.card.selected {
  transform: translateY(-1.5rem);
}

.cardicon {
  width: fit-content;
  align-items: center;
  display: grid;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  margin-inline: auto;
  place-items: center;
}

@media screen and (max-width: 600px) {
  .card {
    padding: 1.2rem;
  }
}
