.contactcontainer {
  margin: 3rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.contactcontainer p {
  font-size: 2rem;
}

.contactcontainer a {
  width: 3rem;
  aspect-ratio: 1/1;
  color: white;
  place-items: center;
  display: grid;
  font-size: 2rem;
  border: 1px solid transparent;
  background: var(--color-primary);
  border-radius: var(--border-radius-1);
}

.contactcontainer a:hover {
  background: transparent;
  border-color: var(--color-primary);
  color: var(--color-primary);
  transform: translateY(-0.5rem);
}

@media screen and (max-width: 600px) {
  .contactcontainer {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .contactcontainer p {
    font-size: 1rem;
  }

  .contactcontainer a {
    width: 1.5rem;
    aspect-ratio: 1/1;
    font-size: 0.9rem;
  }
}
