nav {
  width: 100vw;
  height: 5rem;
  display: grid;
  place-items: center;
  background: var(--color-primary);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  box-shadow: 0 1rem 1.5rem hsla(var(--primary-hue), 68%, 42%, 20%);
  transition: var(--transition);
}

.navcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navcontainer p {
  padding: 1rem;
  background: transparent;
  color: var(--color-white);
  text-decoration: solid;
  letter-spacing: 0.1rem;
  text-shadow: 0.2px 0.2px;
  border-radius: var(--border-radius-2);
}

.navmenu {
  color: var(--color-white);
  display: flex;
  gap: 3.5rem;
  text-transform: capitalize;
}

.navmenu li a {
  font-size: 1.3rem;
}

#themeicon {
  background: transparent;
  color: var(--color-white);
  font-size: 2rem;
  cursor: pointer;
}

/* HIDE NAV MENU ON TABLETS AND PHONES */
@media screen and (max-width: 1024px) {
  .logo {
    display: none;
  }

  .navmenu {
    display: flex;
    gap: 0.4rem;
    text-transform: capitalize;
  }

  .navmenu li a {
    font-size: 0.9rem;
  }

  #themeicon {
    font-size: 1rem;
  }
}
