nav {
  background: var(--nav-bg);
  width: 100vw;
  height: 5rem;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  transition: var(--transition);
}

.navcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  background: transparent;
  width: 3.5rem;
  height: 3.5rem;
}

.navcontainer p {
  padding: 1rem;
  background: transparent;
  text-decoration: solid;
  letter-spacing: 0.1rem;
  text-shadow: 0.2px 0.2px;
  border-radius: var(--border-radius-2);
}

.navmenu {
  display: flex;
  gap: 3.5rem;
  text-transform: capitalize;
}

.navmenu li a {
  color: var(--nav-icon-color);
  font-size: 2rem;
}

#themeicon {
  background: transparent;
  font-size: 2rem;
  cursor: pointer;
}

/* HIDE NAV MENU ON TABLETS AND PHONES */
@media screen and (max-width: 1024px) {
  .navmenu {
    gap: 1rem;
  }

  .navmenu li a {
    font-size: 1.2rem;
  }

  #themeicon {
    font-size: 1.2rem;
  }
}
